.reveal .footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 1em;
  font-size: 0.5em;
  background: blue;
}

.reveal .header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 1.5em;
  line-height: 1.5em;
  font-size: 0.5em;
  background: #fff8f8;
  color: black;
  padding: 5px;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

.reveal li {
  margin-top: 0.3em;
}
